*{
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 968px;
    margin: 0 auto;
}

body{
    background-color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: grey;
    padding: 10px;
}

.bord{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box{
    width: 230px;
    border: black solid 1px; 
    background-color: lightgray; 
}

h3{
    background-color: skyblue;
    padding: 10px;
}

.taak{
    margin: 10px 10px;
    padding: 10px 5px;
    background-color: aqua;
    border: blue solid 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.taak:hover{
    background-color: rgb(37, 122, 122);
    color: white;
}

footer{
    margin-top: auto;
    padding: 10px 0px;
}